* {
  border: 2px solid black;
}

body {
    font-family: roboto;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
}

h2 {
  text-align: center;
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
}


a {
  text-decoration: none;
  color: #E5E7EB;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 15px;
}



.header {
  background-color: #1F2937;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
}

.hero {
  background-color: #1F2937;
}

.hero-text {
  font-size: 18px;
  color: #E5E7EB;
}

.img-grid {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  padding-bottom: 100px;
}

.img-grid img {

}

.info {
  width: 200px;
  height: 200px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 5px solid #3882F6;
}

.info p{
  color: #1F2937;
}

.thor-quote {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E5E7EB;
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  color: #1F2937;
  padding: 200px 0;
}

.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

.thor {
  align-self: flex-end;
  font-weight: bold;
  font-size: 30px;
  padding-right: 40px;

}

.CTA-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.CTA {
  background-color: #3882F6;
  display: flex;
  width: 70%;
  height: 40%;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
}

.CTA-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #E5E7EB;
}

.CTA-text p {
  margin: 0;
  padding: 0;
}

.call {
  font-size: 19px;
  font-weight: bold;
}

.CTA-button {
  margin: 0;
  padding: 0;
}

.CTA-button button{
  border: 2px solid #E5E7EB;
  border-radius: 5px;
  background-color: #3882F6;
  color: #E5E7EB;
  padding: 2px 20px;
  font-weight: bold;
}


.footer {
  background-color: #1F2937;
  color: #E5E7EB;
  display: flex;
  justify-content: center;
  padding: 30px 0;
  align-items: center;
}